<div class="card col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
  <h2>twagnotes</h2><hr />
  <p>Create notes and organize them using hashtags and mentions. For best results please use a modern browser (HTML5 and CSS3 support).</p>
  <p>Click the 'twag' in the top left to bring up filtering options, click the 'notes' to create new notes or view your archives.</p>
  <p>To view some sample notes, login with any email from "foobar-0@foobar.com" to "foobar-6@foobar.com", with password "foobar".</p>
  <p>This is app is a demo. Your account may be removed at any time without notice.</p>
  <p>Created by Jim X. Lin. Source code is available <a href="https://github.com/miljinx/twagnote">here</a>.</p>
</div>

<script>
$('.brand').click(function() {
  window.location.href = '/'
});
</script>
