<nav class="col-sm-3 col-md-2 bg-faded sidebar collapse" id="sidebar">
  <ul class="nav flex-column edit-notes">
    <li class="nav-item">
      <div class="create-note">
        New Note +
      </div>
    </li>
  </ul>

  <ul class="nav flex-column list-hashtags">
    <li class="nav-item toggle-view-hashtags">
      Hashtags
    </li>
    <li class="nav-item clear-selected-hashtags">
      clear selected
    </li>
  </ul>

  <ul class="nav flex-column list-mentions">
    <li class="nav-item toggle-view-mentions">
      Mentions
    </li>
    <li class="nav-item clear-selected-mentions">
      clear selected
    </li>
  </ul>

  <ul class="nav flex-column list-untagged">
    <li class="nav-item view-untagged-">
      Untagged
    </li>
  </ul>
</nav>

<div class="sort-notes-bar">
  note sorting here
</div>

<main class="col-12">

</main>


<script>
  $(function() {

    // populate sidebar with tags
    $.get("/tags").success(function(tags) {
      if (!tags) return null;
      var hashtagHtml = "";
      var mentionHtml = "";
      tags.forEach(function(tag, i) {
        if (tag.mention) {
          mentionHtml += sidebarTagHtml(tag, true);
        } else {
          hashtagHtml += sidebarTagHtml(tag, false);
        }
      });
      $('.list-hashtags').append(hashtagHtml);
      $('.list-mentions').append(mentionHtml);
    });

    // populate main window with notes
    $.get("/notes").success(function(notes) {
      if (!notes) return null;
      var notesHtml = ""
      notes.forEach(function(note, i) {
        notesHtml += noteHtml(note);
      });
      $('main').append(notesHtml);
    });

    // Creates an <li> element out of JSON data for tags
    function sidebarTagHtml(tag, mention) {
      var prefix = mention ? '@' : '#';
      var labelStr = prefix + tag.name + ' (' + NaN + ')'
      var liElement =
        '<li id="listItem-"' + tag.id + '>' +
        '<div class="view">' +
        '<label>' + labelStr + '</label>' +
        '<input class="toggle" type="checkbox" data-id="' + tag.id + '">' +
        '</div></li>';
      return liElement;
    }

    // Creates an <div> element out of JSON data for Notes
    function noteHtml(note) {
      var divElement =
        '<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 note-container">' +
        '<div class="notecard">' +
        '<p>' + note.title + '</p><hr />' +
        '<p>' + note.body + '</p>' +
        '</div></div>';
      return divElement;
    }

  });
</script>
