<nav class="col-sm-3 col-md-2 bg-faded sidebar collapse" id="sidebar">
  <ul class="nav flex-column edit-notes">
    <li class="nav-item">
      <div class="create-note">
        New Note +
      </div>
    </li>
  </ul>

  <ul class="nav flex-column list-hashtags">
    <li class="nav-item toggle-view-hashtags">
      Hashtags
    </li>
    <li class="nav-item clear-selected-hashtags">
      clear selected
    </li>
  </ul>

  <ul class="nav flex-column list-mentions">
    <li class="nav-item toggle-view-mentions">
      Mentions
    </li>
    <li class="nav-item clear-selected-mentions">
      clear selected
    </li>
  </ul>

  <ul class="nav flex-column list-untagged">
    <li class="nav-item view-untagged-">
      Untagged
    </li>
  </ul>
</nav>

<main class="col-12">
  <div class="sort-notes-bar row">
    note sorting here
  </div>
  <div class="notecards-container row">

  </div>
</main>


<script>
  $(function() {

    // key: tag_id, value: array of associated note_ids
    var tagNoteIds = {};
    $.get("/taggings").success(function(taggings) {
      taggings.forEach(function(tagging, i) {
        if (tagNoteIds[tagging.tag_id]) {
          tagNoteIds[tagging.tag_id].push(tagging.note_id);
        } else {
          tagNoteIds[tagging.tag_id] = [tagging.note_id];
        }
      });
    });

    // populate sidebar with tags
    $.get("/tags").success(function(tags) {
      if (!tags) return null;
      var hashtagHtml = "";
      var mentionHtml = "";
      tags.forEach(function(tag, i) {
        if (tag.mention) {
          mentionHtml += sidebarTagHtml(tag, true);
        } else {
          hashtagHtml += sidebarTagHtml(tag, false);
        }
      });
      $('.list-hashtags').append(hashtagHtml);
      $('.list-mentions').append(mentionHtml);
    });

    // Populate main window with notes
    populateNotes();

    // Filter notes by tags in sidebar
    var filterTagIds = [];
    $('.sidebar').on('click','.view',function(){
      var $checkbox = $(this).children('input');
      var tagId = $checkbox.data('id');
      if ($checkbox.prop('checked')) {
        $checkbox.prop('checked', false);
        filterTagIds.splice(filterTagIds.indexOf(tagId), 1);
      } else {
        $checkbox.prop('checked', true);
        filterTagIds.push(tagId);
      }
      populateNotes();
    });

/******************************************************************************/

    function populateNotes() {
      $('.note-container').remove();
      $.get("/notes").success(function(notes) {
        if (!notes) return null;
        var notesHtml = "";
        filterNotesByTag(notes).forEach(function(note, i) {
          notesHtml += noteHtml(note);
        });
        $('.notecards-container').append(notesHtml);
      });
    }



    // Creates an <li> element out of JSON data for tags
    function sidebarTagHtml(tag, mention) {
      var prefix = mention ? '@' : '#';
      var noteCount = tagNoteIds[tag.id].length
      var labelStr = prefix + tag.name + ' (' + noteCount + ')'
      var liElement =
        '<li id="listItem-"' + tag.id + '>' +
        '<div class="view">' +
        '<label>' + labelStr + '</label>' +
        '<input class="toggle" type="checkbox" data-id="' + tag.id + '">' +
        '</div></li>';
      return liElement;
    }

    // Creates an <div> element out of JSON data for Notes
    function noteHtml(note) {
      var titleHtml = note.title ? '<p>' + note.title + '</p><hr />' : '';
      var divElement =
        '<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 note-container">' +
        '<div class="notecard">' +
        titleHtml +
        '<p>' + note.body + '</p>' +
        '</div></div>';
      return divElement;
    }

    // Filters JSON note objects by tags
    function filterNotesByTag(notes) {
      if (filterTagIds.length === 0) return notes;

      var tagFilteredNoteIds = [];
      filterTagIds.forEach(function(tagId, i) {
        tagFilteredNoteIds = tagFilteredNoteIds.concat(tagNoteIds[tagId]);
      });

      var filteredNotes = [];
      notes.forEach(function(note, i){
        if (tagFilteredNoteIds.includes(note.id)) {
          filteredNotes.push(note);
        }
      });
      return filteredNotes;
    }
  });
</script>
