<nav class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-2 bg-faded sidebar collapse" id="sidebar">
  <ul class="nav flex-column edit-notes">
    <li class="nav-item create-note">
      New Note +
    </li>
    <li class="nav-item archive-mode">
      <label>Archive Mode</label>
      <input class="toggle" type="checkbox">
    </li>
    <li class="nav-item clear-tag-filters">
      clear selected
    </li>
    <li class="nav-item untagged-filter">
      <label>Untagged</label>
      <input class="toggle" type="checkbox" data-id="UntaggedUntaggedUntaggedUntaggedUntaggedUntaggedUntaggedUntagged">
    </li>
  </ul>

  <ul class="nav flex-column list-hashtags">
  </ul>

  <ul class="nav flex-column list-mentions">
  </ul>
</nav>

<div class="filter-bar row">
  <div class="tag-filters-container col-6 col-sm-8 col-md-9 col-lg-9">

    <div class="tag-filters">
      <ul>
      </ul>
    </div>
  </div>

  <div class="time-filters col-6 col-sm-4 col-md-3 col-lg-3 row">
      <select class="custom-select time-sort col-6">
        <option value="newest">newest first</option>
        <option value="oldest">oldest first</option>
      </select>
      <select class="custom-select time-interval col-6">
        <option value="0">all time</option>
        <option value="7">past week</option>
        <option value="31">past month</option>
        <option value="365">past year</option>
      </select>
  </div>
</div>

<main>
  <div class="notecards-container row">

  </div>
</main>


<!-- View Note Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-title-container">
          <input type="text" class="form-title" placeholder="Title">
        </div>
        <hr />
        <div class="form-body-container">
          <textarea class="form-body" placeholder="Body"></textarea>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script>
  const UNTAGGED = 'UntaggedUntaggedUntaggedUntaggedUntaggedUntaggedUntaggedUntagged';
  const ARCHIVED = 'ArchivedArchivedArchivedArchivedArchivedArchivedArchivedArchived';
  $(function() {

    var filterTagIds = []; // tag Ids of the filters in use
    var timeFilters = {sort: 'newest', interval: '0'}

/***************************** Sidebar **********************************/

    // Archive mode, only archived or unarchived notes shown
    $('.sidebar .archive-mode').click(function() {
      var $checkbox = $(this).children('input');

      if ($checkbox.prop('checked')) {    // disable archive mode
        $checkbox.prop('checked', false).change();
        filterTagIds.splice(filterTagIds.indexOf(ARCHIVED), 1);
      } else {                            // enable archive mode
        $checkbox.prop('checked', true).change();
        filterTagIds.push(ARCHIVED);
      }
      populateTags();
      populateNotes();
    });

    populateTags();

    // populate sidebar with tags
    function populateTags () {
      $('.sidebar .list-hashtags li').remove();
      $('.sidebar .list-mentions li').remove();

      var archiveMode = filterTagIds.includes(ARCHIVED) ? 'true' : 'false';

      $.get("/tags?archived=" + archiveMode).success(function(tags) {
        if (!tags) return null;
        var hashtagHtml = "";
        var mentionHtml = "";
        tags.forEach(function(tag, i) {
          if (tag.note_count === 0) return;
          if (tag.mention) {
            mentionHtml += sidebarTagHtml(tag, true);
          } else {
            hashtagHtml += sidebarTagHtml(tag, false);
          }
        });
        $('.list-hashtags').append(hashtagHtml);
        $('.list-mentions').append(mentionHtml);
      });
    }

    // Filter notes by tags in sidebar
    $('.sidebar').on('click','.tag-filter', function(){
      var $checkbox = $(this).children('input');
      var tagId = $checkbox.data('id');
      var tagName = $(this).children('label').text();

      if ($checkbox.prop('checked')) {    // Remove tag filter
        $checkbox.prop('checked', false).change();
        filterTagIds.splice(filterTagIds.indexOf(tagId), 1);
      } else {                            // Add tag filter
        $checkbox.prop('checked', true).change();
        filterTagIds.push(tagId);
      }
      populateFilterBar();
      populateNotes();
    });

    // Filter untagged notes
    $('.sidebar .untagged-filter').click(function(){
      var $checkbox = $(this).children('input');

      if ($checkbox.prop('checked')) {    // Remove tag filter
        $checkbox.prop('checked', false).change();
        filterTagIds.splice(filterTagIds.indexOf(UNTAGGED), 1);
      } else {                            // Add tag filter
        $checkbox.prop('checked', true).change();
        filterTagIds.push(UNTAGGED);
      }
      populateFilterBar();
      populateNotes();
    });

    // Toggle highlighting of tag filters and archive mode
    $('.sidebar ul').on('change', 'input', function() {
      if ($(this).prop('checked')) {
        $(this).parent().css("background-color","rgba(0, 0, 0, 0.1)")
      } else {
        $(this).parent().css("background-color","rgba(0, 0, 0, 0)")
      }
    });

    // Clear all tag filters
    $('.clear-tag-filters').click(function(){
      filterTagIds = [];
      $('.sidebar input').each(function() { $(this).prop('checked', false).change(); });
      $('.li-filter').remove();
      populateNotes();
    });

    // Creates a tag <li> for sidebar
    function sidebarTagHtml(tag, mention) {
      var prefix = mention ? '@' : '#';
      var labelStr = prefix + tag.name + ' (' + tag.note_count + ')';
      var liElement =
        '<li><div class="tag-filter">' +
        '<label>' + labelStr + '</label>' +
        '<input class="toggle" type="checkbox" data-id="' + tag.id + '">' +
        '</div></li>';
      return liElement;
    }

/***************************** Filterbar *******************************/

// Remove tag filters when clicking them on the filter-bar
$('.tag-filters').on('click', '.li-filter', function(){
  var tagId = $(this).attr('id');
  $('[data-id=' + tagId + ']').prop('checked', false);
  filterTagIds.splice(filterTagIds.indexOf(tagId), 1);
  $(this).remove();

  populateNotes();
});

// Creates note counter
function noteCounter() {
  var count = $('.notecard').length;
  if (count === 1) return '1 note';
  return String(count);
}

// Adds <li> elements to the filter-bar
function populateFilterBar() {
  $('.filter-bar .li-filter').remove();

  $('.sidebar .tag-filter, .sidebar .untagged-filter').each(function(){
    var $checkbox = $(this).children('input');
    if (!$checkbox.prop('checked')) return;

    var tagId = $checkbox.data('id');
    var tagName = $(this).children('label').text();
    if (tagId === UNTAGGED) {
      $('.filter-bar ul').append('<li class="li-filter" id="' + UNTAGGED + '">Untagged</li>');
    } else {
      $('.filter-bar ul').append(filterBarHtml(tagName, tagId));
    }
  });
}

// Creates an <li> tag element for the filter-bar
function filterBarHtml(tagName, tagId) {
  var tagHtml = '<li class="li-filter" id="' + tagId + '">' + tagName + '</li>';
  return tagHtml;
}

// Sort notes by most recent or oldest
$('.time-filters .time-sort').change(function() {
  timeFilters.sort = $(this).val();
  populateNotes();
});

// Filter notes by a time interval
$('.time-filters .time-interval').change(function() {
  timeFilters.interval = $(this).val();
  populateNotes();
});

/**************************** Notes Display ***************************/

    // Populate main window with notes
    populateNotes();

    // Adds notecard divs to the main window
    function populateNotes() {
      $('.note-container').remove();
      $('body').css("background-color","#FFCDD2")
      if (filterTagIds.includes(ARCHIVED)) $('body').css("background-color","#FFE57F");

      $.get("/notes?"+queryStr(filterTagIds)).success(function(notes) {
        if (!notes) return null;
        var sortedNotes = sortNotes(notes);
        var notesHtml = "";
        sortedNotes.forEach(function(note, i) {
          notesHtml += noteHtml(note);
        });
        $('.notecards-container').append(notesHtml);

        $('.brand .note-count').text('(' + noteCounter() + ')');
      });
    }

    // Creates a query string for the URL of the note get request
    function queryStr(tagIds) {
      var string = ""
      tagIds.forEach(function(tagId, i) {
        string += 'tags[]=' + tagId + '&'
      });
      return string.slice(0, -1);
    }

    // Sort and filter notes based on timeFilter options
    function sortNotes(notes) {
      var sortedNotes = [];

      if (timeFilters.interval === '0') {
        sortedNotes = notes;
      } else {
        notes.forEach(function(note, i) {
          var today = new Date();
          var date = new Date(note.updated_at);
          var interval = Number(timeFilters.interval) * 8.64e7;
          if (today - date <= interval) sortedNotes.push(note);
        });
      }

      sortedNotes.sort(function(a,b) {
        var dateA = new Date(a.created_at);
        var dateB = new Date(b.created_at);
        if (timeFilters.sort === 'newest') {
          return dateB - dateA;
        } else {
          return dateA - dateB;
        }
      });

      return sortedNotes;
    }

    // Creates a notecard <div>
    function noteHtml(note) {
      var titleHtml = note.title ? '<p class="note-title">' + note.title + '</p><hr />' : '';
      var divElement =
        '<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 note-container">' +
        '<div class="notecard col-11" data-id="' + note.id + '">' +
        titleHtml +
        '<p class="note-body">' + note.body + '</p>' +
        '<div class="text-fader" />' +
        '</div></div>';
      return divElement;
    }

    // Get form for note in a modal
    $('.notecards-container').on('click','.notecard', function() {
      var noteId = $(this).data('id');
      var title = $(this).children('.note-title').text();
      var body = $(this).children('.note-body').text();

      $('.modal-footer').html( modalButtonHtml(noteId) );
      noteFormHtml(noteId, title, body);
      $('#noteModal').modal('toggle');
    });

    // Add html to note form
    function noteFormHtml(noteId, titleText, bodyText) {
      $('.form-title').val(titleText);
      $('.form-body').val(bodyText);
    }

    // Archive note
    $('.modal').on('click', '.btn-archive', function() {
      var noteId = $(this).data("id");
      $.post('notes/' + noteId, {
        _method: "PUT",
        note: { is_archived: true }
      }).success(function() {
        $('#noteModal').modal('toggle');
        populateTags();
        populateFilterBar();
        populateNotes();
      });
    });

    // Save changes to note
    $('.modal').on('click', '.btn-save', function() {
      var noteId = $(this).data("id");
      var titleStr= $('.modal .form-title').val();
      var bodyStr = $('.modal .form-body').val();

      if (titleStr.length === 0 && bodyStr.length === 0) {
        $('#noteModal').modal('toggle');
        alert("Can't save a blank note.")
        return;
      }

      $.post('notes/' + noteId, {
        _method: "PUT",
        note: { title: titleStr, body: bodyStr }
      }).success(function() {
        $('#noteModal').modal('toggle');
        populateTags();
        populateFilterBar();
        populateNotes();
      });
    });

    // Restore note
    $('.modal').on('click', '.btn-restore', function() {
      var noteId = $(this).data("id");
      $.post('notes/' + noteId, {
        _method: "PUT",
        note: { is_archived: false }
      }).success(function() {
        $('#noteModal').modal('toggle');
        populateTags();
        populateFilterBar();
        populateNotes();
      });
    });

    // Change modal buttons depending on archive mode
    function modalButtonHtml(noteId) {
      if (filterTagIds.includes(ARCHIVED)) {
        var str =
          '<button type="button" class="btn btn-danger btn-delete" style="margin-right: auto;" data-id="' + noteId + '">Delete</button>' +
          '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>' +
          '<button type="button" class="btn btn-primary btn-restore" data-id="' + noteId + '">Restore</button>'
        return str;
      } else {
        var str =
          '<button type="button" class="btn btn-warning btn-archive" style="margin-right: auto;" data-id="' + noteId + '">Archive</button>' +
          '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>' +
          '<button type="button" class="btn btn-primary btn-save" data-id="' + noteId + '">Save</button>'
        return str;
      }
    }
  });
</script>
