@import "bootstrap";
@import "font-awesome";

body {
  background-color: #FFCDD2;
  padding: 0 !important;
}

input.toggle {
  display: none !important;
}

/*
 * User account forms
 */

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.card.form {
  padding: 20px;
}

label {
  display: block;
  font-size: 18px;
}

.card input {
  font-size: 18px;
  font-weight: 400;
}

/*
 * Navbar
 */

.navbar {
  background-color: #B2DFDB;
}

.brand {
  font-size: 28px;
  width: 256px;
}

.brand .twag, .brand .notes-btn {
  cursor: pointer;
}

.brand .note-count {
  font-size: 14px;
}


/*
 * Sidebar modal
 */

.modal {
  padding: 0;
}

#tagModal .modal-dialog {
  margin-left: 10px;
}

.sidebar-modal label {
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 4px 4px 4px 8px;
}

.sidebar-modal input {
  display: none;
}

/*
 * CRUD-notes modal
 */

/*
 * Note filter bar
 */

.filter-bar {
  background-color: #DCEDC8;
  margin: 0;
  position: sticky;
  top: 58px;
  height: 36px;
  z-index: 1;
}

.filter-bar div {
  padding: 0;
  margin: 0;
}

.filter-bar .note-counter {
  border-right: solid;
  text-align: center;
}

.filter-bar li {
  list-style: none;
  display: inline;
  margin-right: 8px;
  padding: 4px;
  border-radius: 8px;
  background-color: #4CAF50;
}

.tag-filters-container {
  overflow-y: hidden;
  height: 36px;
  padding: 0;
}

.tag-filters {
  height: 52px;
  overflow-x: scroll;
  white-space: nowrap;
  border-right: solid;
}

.tag-filters ul {
  padding-left: 0px;
  margin-bottom: 0;
}

.tag-filters li {
}


.time-filters {
  margin: 0;
  padding: 0;
}

.sort-select, .filter-select {
  margin: 0;
  padding: 0;
}

.time-filters .custom-select {
  border: none;
  background-color: transparent;
}

/*
 * Notes display
 */

.notecards-container {
  padding: 10px 0px 10px 20px;
  margin: 0;
}

.note-container {
  display: inline-block;
  padding: 0;
  user-select: none;
}

.notecard {
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 16px;
  padding: 20px;
  display: inline-block;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.notecard .text-fader {
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 90%;
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1));
}

/*
 * Note form modal
 */

.modal-content {
  margin-top: 72px;
}

.modal .form-title, .modal .form-body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  resize: none;
}

.modal .form-title-container {
  height: 24px;
}

.modal .form-body-container {
  height: 256px;
}

.modal .form-time-container {
  font-size: 14px;
  color: #999;
}
