@import "bootstrap";
@import "font-awesome";

body {
  background-color: #FFCDD2;
}

/*
 * User forms
 */

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.card.form {
  padding: 20px;
}

label {
  display: block;
  font-size: 18px;
}

.card input {
  font-size: 18px;
  font-weight: 400;
}

/*
 * Navbar
 */

.navbar {
  background-color: #B2DFDB;
  z-index: 2000;
}

.brand {
  width: 180px;
  font-size: 28px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar label {
  display: inline-block;
  font-size: 14px;
}

.sidebar input {
  display: inline-block;
  float: right;
}

/*
 * Note filter bar
 */

.filter-bar {
  background-color: #DCEDC8;
  margin: 0 -15px 0 -15px;
}

.filter-bar li {
  list-style: none;
  display: inline;
  margin-right: 8px;
  padding: 4px;
  border-radius: 8px;
  background-color: #4CAF50;
  cursor: pointer;
}


.filter-bar .time-filters {
  float: right;
}

/*
 * Notes display
 */

main {
  padding: 0px;
}

.note-container {
  display: inline-block;
  padding: 0px;
  user-select: none;
}

.notecard {
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin: 10px 10px 0px 10px;
  padding: 20px;
  display: inline-block;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}
